@import "btn/btn_*.png";

.btn_2, .primary_2, .info_2, .danger_2, .success_2 { width: 58px; }
.btn_4, .primary_4, .info_4, .danger_4, .success_4 { width: 88px; }
.submit { display: block; text-indent: -1000em; overflow:hidden; outline: none; }
.btn {
  border: 0px;
  color: #fff;
  outline:none;
  padding: 0px;
  height: 29px;
  font-size: 14px;
  cursor: pointer;
  line-height: 29px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  hide-focus: expression(this.hideFocus=true);
}
.btn_2 {
	@extend .btn;
	color: #333;
	@include btn-sprite(btn_default_58);
	&:hover { @include btn-sprite(btn_default_58_h); }
}
.btn_4 {
	@extend .btn;
	color: #333;
	@include btn-sprite(btn_default_88);
	&:hover { @include btn-sprite(btn_default_88_h); }
}
.info_2 {
	@extend .btn;
	@include btn-sprite(btn_info_58);
	&:hover { @include btn-sprite(btn_info_58_h); }
}
.info_4 {
	@extend .btn;
	@include btn-sprite(btn_info_88);
	&:hover { @include btn-sprite(btn_info_88_h); }
}
.success_2 {
	@extend .btn;
	@include btn-sprite(btn_success_58);
	&:hover { @include btn-sprite(btn_success_58_h); }
}
.success_4 {
	@extend .btn;
	@include btn-sprite(btn_success_88);
	&:hover { @include btn-sprite(btn_success_88_h); }
}
.danger_2 {
	@extend .btn;
	@include btn-sprite(btn_danger_58);
	&:hover { @include btn-sprite(btn_danger_58_h); }
}
.danger_4 {
	@extend .btn;
	@include btn-sprite(btn_danger_88);
	&:hover { @include btn-sprite(btn_danger_88_h); }
}
.primary_2 {
	@extend .btn;
	@include btn-sprite(btn_primary_58);
	&:hover { @include btn-sprite(btn_primary_58_h); }
}
.primary_4 {
	@extend .btn;
	@include btn-sprite(btn_primary_88);
	&:hover { @include btn-sprite(btn_primary_88_h); }
}
.setting {
	@extend .btn;
	width: 88px;
	@include btn-sprite(btn_save_setting);
	&:hover { @include btn-sprite(btn_save_setting_h); }
}

/*
#new_topic .submit {
  width: 88px;
  @include btn-sprite(btn_send_topic);
  &:hover { @include btn-sprite(btn_send_topic_h); }
}
*/