.new_register .submit {
  @extend .btn;
  width: 58px;
  @include btn-sprite(btn_register);
  &:hover, &.submit-hover-ie6 { @include btn-sprite(btn_register_h); }
}

.new_session .submit {
  @extend .btn;
  width: 58px;
  @include btn-sprite(btn_login);
  &:hover, &.submit-hover-ie6 { @include btn-sprite(btn_login_h); }
}

#new_topic .submit {
  @extend .btn;
  width: 88px;
  @include btn-sprite(btn_send_topic);
  &:hover, &.submit-hover-ie6 { @include btn-sprite(btn_send_topic_h); }
}
