h1, h2, h3, h4, h5, h6 { color: #404040; font-weight: bold;}
h1, h2, h3, h4, h5, h6 { line-height: 36px; }
h1 { font-size: 30px; margin-bottom: 18px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { color: #bfbfbf; font-size: 13px; text-transform: uppercase; }
body { padding-top: 60px; font-family: tahoma, sans-serif; font-size: 12px; }
