@import "compass/css3";

fieldset {
	margin-bottom: 18px;
	padding-top: 18px;
	legend {
		color: #404040;
		display: block;
		font-size: 20px;
		line-height: 1;
		padding-left: 150px;
		*padding: 0 0 5px 145px;
		*line-height: 1.5;
	}
}

.actions {
  zoom: 1;
  background: #F5F5F5;
  margin: 18px 0;
  padding: 17px 20px 18px 150px;
  border-top: 1px solid #DDD;
  @include border-radius(0 0 3px 3px);
  input, .btn, .submit { float: left; margin-right: 5px; }
}

form {
	margin-bottom: 18px; 
	.clearfix {
		clear: both;
		margin-bottom: 18px; 
    .help-inline { padding-left: 5px;
      *position: relative;
      *top: -5px;
      z-index: -1;
    }
		
    .help-inline, .help-block { color: #BFBFBF; font-size: 13px; line-height: 18px; }
    &.error label, &.error .help-inline, &.error .help-block { color: #B94A48; }
    &.error .input_text, &.error textarea{ border-color: #EE5F5B;color: #B94A48;
      &:focus, &.ieFocus{
        border-color: #E9322D;
        @include box-shadow(0 0 6px #F8B9B7);
      }
    }
    
    &.success label, &.success .help-inline, &.success .help-block { color: #468847; }
    &.success .input_text, &.success textarea{ border-color: #57A957; color: #468847;
      &:focus, &.ieFocus{
        border-color: #458845;
        @include box-shadow(0 0 6px #9ACC9A);
      }
    }
    &.warning label, &.warning .help-inline, &.warning .help-block { color: #C09853; }
    &.warning .input_text, &.warning textarea{ border-color: #CCAE64; color: #C09853;
      &:focus, &.ieFocus{
        border-color: #BE9A3F;
        @include box-shadow(0 0 6px #E5D6B1);
      }
    }
  }
  .input { margin-left: 150px; }  
}

.form-stacked {
	padding-left: 20px;
	legend { padding-left: 0px; }
  .actions { position: relative; margin-left: -20px; padding-left: 20px; *padding-left: 40px; }
  fieldset { padding-top: 9px; }
  label { display: block; float: none; width: auto; font-weight: bold; text-align: left; line-height: 20px; padding-top: 0; }
  .clearfix {
		margin-bottom: 9px;
    div.input { margin-left: 0; }
  }
}

label {
	color: #404040;
	float: left;
	font-size: 13px;
	line-height: 18px;
	padding-top: 6px;
	text-align: right;
	width: 130px;
}

.input_text, select {
	display: inline-block;
	width: 210px;
	height: 18px;
	line-height: 18px;
	margin: 0;
	padding: 4px;
	color: #808080;
	resize: none;
	font-size: 13px;
	border: 1px solid #ccc;
	@include border-radius(3px);
}

.uneditable-input {
	@extend .input_text;
  display: block;
  border-color: #eee;
  cursor: not-allowed;
  background-color: #fff;
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.025));
}

textarea { 
	@extend .input_text;
	height: auto;
}

.input_file {
  @extend .input_text;
  background-color: #ffffff;
  @include box-shadow(none);
}

.input_text, textarea {
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1) inset);
  &:focus, &.ieFocus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    *border-color: #74b9f0;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6));
  }
}

.span {
	display: inline-block;
	float: none;
	margin-left: 0;
	margin-right:10px;
}

input {
	&.span1 { @extend .span; width: 30px; }
	&.span2 { @extend .span; width: 90px; }
	&.span3 { @extend .span; width: 150px; }
	&.span4 { @extend .span; width: 210px; }
	&.span5 { @extend .span; width: 270px; }
	&.span6 { @extend .span; width: 330px; }
	&.span7 { @extend .span; width: 390px; }
	&.span8 { @extend .span; width: 450px; }
	&.span9 { @extend .span; width: 510px; }
	&.span10 { @extend .span; width: 570px; }
	&.span11 { @extend .span; width: 630px; }
	&.span12 { @extend .span; width: 690px; }
	&.span13 { @extend .span; width: 750px; }
	&.span14 { @extend .span; width: 810px; }
	&.span15 { @extend .span; width: 870px; }
	&.span16 { @extend .span; width: 930px; }
	.disabled{
		background-color: #f5f5f5;
		border-color: #ddd;
		cursor: not-allowed;
	}
}

.input_checkbox, .input_radio {
    border: none;
    height: auto;
    line-height: normal;
    margin: 3px 0;
    padding: 0;
    width: auto;
}

select, .input_file { height: 27px; }

.inputs-list {
	padding-top:6px;
	margin-bottom: 5px;
	zoom:1;
  label {
    float: none;
    line-height: normal;
    padding: 0;
    text-align: left;
    white-space: normal;
    width: auto;
    vertical-align:middle;
    font-size:12px;
  }
  li {
    display: block;
    width: 100%;
  }
  .input_checkbox, .input_radio {
    margin: 0;
    vertical-align:middle;
  }
}
