@import "compass/css3";

body{padding-top:60px; background:#eee;}
.container{width: 980px; }
.content{background:#fff; padding:0px 10px; zoom:1; }
.p20 { display:block; height:20px; clear:both;}
#main {
  @extend .grid_11;
  border-right:1px solid #eee;
}

#sidebar {
  @extend .grid_5;
}
#footer{
  margin-top: 20px;
  border:none;
  color: #fff;
}
.box{
  background-color: #fff;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.topbar ul li a.avatar, .topbar .nav li a.avatar{
  display:inline-block; line-height:40px; height:40px; cursor:pointer;
  padding: 0;
  *{float:left;}
  span{display:inline-block;margin-right:10px;}
}
