div.topic {
  clear:both;
  padding:5px 0 5px 5px;
  border-bottom:1px solid #eee;
  zoom:1;
  &:hover {
    background: #f0f0f0;
  }
  a {
    text-decoration: none;
  }
  .topic-avatar {
    float:left;
    width:32px;
    height:32px;
    margin-right:10px;
  }
  .topic-content {
    float:left;
    width: 530px;
  }
  .topic-text {
    font-size:14px;
    font-weight:bold;
    line-height:18px;
    margin-bottom:5px;
    a { color: #343434 }
  }
  small {
    font-size:11px;
    color:#ccc;
  }
}

.topic_title {
  font-size: 14px;
}
